variable "project" {
  default = ""
}

variable "region" {
  default = ""
}

variable "location" {
  default = ""
}

variable "db_user_name" {
  default = "me"
}

variable "db_user_password" {
  default = "changeme"
}